body {
  margin: 0;
  background-color: #65cbf3;
  font-family: system-ui;
  font-weight: 600;
}

.container {
  display: flex;
  width: max-content;
  padding: 10px;
}

.infotop {
  background-color: var(--maincolor);
  color: var(--maincolor);
  font-size: 1rem;
  margin-left: 15px;
  border-radius: 10px;
  padding: 10px 20px;
}

canvas {
  display: block;
}
 
/* Key styling */
.key {
  width: 50px;
  height: 50px;
  background-color: white;
  border: solid 5px;
  border-color: black;
  border-radius: 10px;
  scale: 0.9;
  position: relative;
  display: flex;
  align-items: center;
}
 
.key:hover {
  background-color: whitesmoke;
  scale: 0.92;
}
 
.key::after {
  content: '';
  position: absolute;
  top: -9px;
  left: -9px;
  right: -9px;
  bottom: -9px;
  border: 5px solid white;
  border-radius: 14px;
  z-index: -2;
}
 
.key:hover::after {
  border-color: whitesmoke;
}
 
/* Arrow (Within key) styling */
.arrow {
  margin-left: auto;
  margin-right: auto;
}
 
.arrow2 {
  width: 20px;
  height: 5px;
  border-radius: 3px;
  background-color: black;
  transform: rotate(40deg);
}
 
.arrow3 {
  margin-top: 6px;
  transform: rotate(140deg);
}
 
/* Key container */
#keycontain2 {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  gap: 17px;
  column-width: 50px;
  scale: 1.7;
  /*
 margin-left: ;
 margin-right: ;
 */
  height: 107px;
  width: 180px;
  position: fixed;
  bottom: 15vw;
  left: 52%;
  transform: translateX(-30%) rotate(180deg);
  width: clamp(90vw, 500px);
  padding: 0px;
  border-radius: 10px;
  box-sizing: border-box;
}
 
.bottom {
  align-self: end;
}
 
#keydown {
  margin-top: 6.5px;
  transform: rotate(90deg);
  translate: 0px 67px;
}
 
#keyup {
  transform: rotate(270deg);
}
 
#keyleft {
  transform: rotate(180deg);
}
#evasion {
  z-index: 10;
  position: fixed;
  top: 20px;
  left: 20px;
}
 
/*.keyright {}*/
/* Turn off on larger displays */
/*@media screen and (min-width: 800px) {
  .keycontain2 {
    display: none;
  }
}*/
